header{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 3rem;
    color:white;
}

h1 {
	font-family: 'Saira Extra Condensed', sans-serif;
	color:white;
	text-align:center;
}

.today, .summary {
	font-family: 'Saira Extra Condensed', sans-serif;
	font-size:2rem;
	color:white;
	text-align:center;
}